section#home(data-section='0')
	.home-div
		.home-img
			img(src='images/srinivas.png' alt='srinivas vegur img')
		.home-text
			h1.greet Hey! This is Srinivas Vegur
			h1.typed-head I'm a 
				span.typed
			p You can reach out to me if you wanna develop amazing communication skills, to feel fascinating destiny or to join our reputed Institute.
			.home-buttons
				a(href='#' data-section='5') Contact Me
				a(href='#' data-section='1') Explore more
