section#services(data-section='2')
	h1 Services
	.services-flex
		.service-1
			.service-flex
				h2 Spoken English BootCamp
				h3 This bootcamp is designed for mastering your speaking skills in just 48 days
				h3 50% offer to first 100 enrollments. Bookings are getting faster.
				a(href='/bootcampPayment') Enroll Now
				a(href='/tutor') Explore More
			img(src='images/srinivas.png')
		.service-2
			.service-flex
				h2 Numerology
				h3 Struggling in your life with many problems!?
				h3 Wanna flip your hardships into peaceful boats!?
				a(href='/numerologyPayment') Change Name
				a(href='/numerology') Read More
			img(src='images/srinivas.png')