@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
  --primary-font: 'Lato', sans-serif;
  --heading-font: Helvetica, Arial, sans-serif;
  --primary-background-color: #f8f9fa;
  --secondary-background-color: #dee2e6;
  --tertiary-background-color: #ced4da;
  --primary-light-color: #ede0d4;
  --secondary-light-color: #e6ccb2;
  --tertiary-light-color: #ddb892;
  --primary-dark-color: #5a2900;
  --secondary-dark-color: #9c6644;
  --tertiary-dark-color: #b08968;
  --secondary-text-color: rgb(73, 73, 73);
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  max-height: 100%;
}
body{
  font-family: var(--primary-font);
  background: var(--primary-light-color);
}
.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
nav{
  background: transparent;
  height: 85px;
  width: 100%;
  position: static;
  z-index: 100;
  transition: background 0.3s ease-in-out;
}

label.logo{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  line-height: 80px;
}
label.logo img{
  height:80px;
}
nav ul{
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 30px;
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
}
nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3){
  float: left;
}
.menu{
  float: right;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.active{
  font-weight: 900;
  border-radius: 0;
  border-bottom: 4px solid var(--primary-dark-color);
}
nav ul li a{
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
}
nav ul li a:hover{
  background: var(--tertiary-light-color);
  transition: background 0.2s linear;
}
.active:hover{
  border-radius: 0;
  background:none;
}

.wrapper-menu {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: black;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.appear-0{
  animation: appear 0.5s ease-in-out;
}
.appear-1{
  animation: appear 0.7s ease-in-out;
}
.appear-2{
  animation: appear 0.9s ease-in-out;
}
.appear-3{
  animation: appear 1.1s ease-in-out;
}
.appear-4{
  animation: appear 1.3s ease-in-out;
}
.appear-5{
  animation: appear 1.5s ease-in-out;
}

#home{
	height: 100vh;	
	position: relative;
	overflow: hidden;
}
.home-div{
	position: absolute;
	height: calc(100vh - 85px);
	width: 100%;
	inset: 80px 0 0 0;
	padding: 0 40px;
	z-index: 4;
}
#home:after {
  content: ' ';
  border-bottom: 50vh solid var(--tertiary-light-color);
  border-left: 50vw solid transparent;
  width: 0;
  position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
}
#home:before {
  content: ' ';
  border-bottom: 85vh solid var(--secondary-light-color);
  border-left: 85vw solid transparent;
  width: 0;
  position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.home-img{
	position: absolute;
	bottom: 0;
	left: 10%;
	filter: drop-shadow(5px 5px 5px rgb(93, 93, 93));
}
.home-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	font-family: var(--heading-font);
	color: var(--secondary-text-color);
}
.greet{
	font-size:25px;
	margin-bottom: 10px;
}

.typed-head{
	font-size:40px;
}
.typed{
	color: var(--secondary-dark-color);
}
.home-text p{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size:15px;
	width: 75%;
	font-family:var(--primary-font);
}

.home-buttons a{
   padding: 10px;
	 border-radius: 5px;
}
.home-buttons a:first-child{
	color: white;
	padding: 12px;
	background: var(--primary-dark-color);
	margin-right: 20px;
}
.home-buttons a:last-child{
	color: black;
	border: 2px solid var(--primary-dark-color);
}
#about{
	height: calc(100vh - 80px);
	position: relative;
	/* overflow: hidden; */
}
#about:after {
  content: ' ';
  border-top: 50vh solid var(--tertiary-light-color);
  border-left: 50vw solid transparent;
	top: 0;
  width: 0;
  position: absolute;
	right: 0;
	z-index: 3;
}
#about:before {
  content: ' ';
  border-top: 85vh solid var(--secondary-light-color);
  border-left: 85vw solid transparent;
	top: 0;
  width: 0;
  position: absolute;
	right: 0;
	z-index: 2;
}
.about-text{
	position: absolute;
	inset: 0;
	padding: 50px;
	z-index: 4;
}
.about-text h1{
	font-family: var(--heading-font);
	font-size:40px;
	margin-bottom: 10px;
}
.about-flex{
	height:100%;
  display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
#about h1{
	color: var(--secondary-text-color);
	font-family: var(--heading-font);
	margin-left: 20px;
	margin-top: 30px;
}
.about-flex div{
	width: 50%;
	font-size: 20px;
	text-align: justify; 
	padding: 20px;
}

.about-flex h4{
	font-size: 25px;
	/* font-weight:500; */
	margin-bottom:10px;
	font-family: var(--heading-font);
}
.about-flex h5{
	margin-bottom: 20px;
}
.about-flex li{
	margin-left: 20px;
	list-style:disc;
}
#contact{
	/* height: 40vh; */
	width: 100%;
	color: var(--secondary-text-color);
	/* background: var(--secondary-light-color); */
	padding: 30px 0;
	overflow: hidden;
}
#contact h1{
	color: var(--secondary-text-color);
	font-size:25px;
}
.footer{
	display: flex;
	width: 100%;
	height:100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content:space-evenly;
	gap: 10px;
}
.navigation, .info, form{
	display: flex;
	flex-direction: column;
}
.navigation{
	gap: 10px;
}
.info{
	gap: 20px;
}
form{
	gap: 5px;
}
form h1{
	margin-bottom: 10px;
}
.navigation a{
	color: var(--secondary-text-color);
}
.info a{
 color: var(--secondary-text-color);
}
.navigation a:hover{
	margin-left: 4px;
	text-decoration:underline;
	transition: all 0.3s linear;
}
.info a:hover{
	text-decoration:underline;
	transition: all 0.3s linear;
}
form input, textarea{
	background: transparent;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--tertiary-light-color);
}
input[type="submit"]{
  width: 50%;
	border-radius: 5px;
	color: white;
	background: var(--primary-dark-color);
}
input[type="text"], textarea{
  font-family: var(--primary-font);
}
input[type="text"]:focus, textarea:focus{
 border-bottom: 2px solid black;
}
.error{
	color:red;
	font-size: 12px;
}
#success{
	color: green;
	margin-top:5px;
	margin-left: 15px;
}

#services, #institute, #numerology{
	height: 100vh;
	padding-top: 10px;
}
#services h1, #institute h1, #numerology h1{
	color: var(--secondary-text-color);
	font-family: var(--heading-font);
	font-size: 40px;
	margin-left: 20px;
	margin-top: 30px;
	padding: 50px;
}

@media (max-width: 1200px){
  nav ul li{
    margin: 0 7px;
  }
}
@media (max-width: 952px) {
  nav ul li{
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .menu{
    display: block;
  }
  label.logo{
  left: 5%;
  transform: translateX(-10%);
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 85px;
    left: 100%;
    background: var(--primary-light-color);
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3){
    float: none;
  }

  nav ul li:nth-child(4),
  nav ul li:nth-child(5),
  nav ul li:nth-child(6){
    float: none;
  }

  nav ul{
  text-align: center;
  }
  nav ul li{
    display: block;
    font-size: 20px;
  }
  nav ul li a{
    color: var(--secondary-text-color);
  }
  #check:checked ~ul{
    left: 0%;
  }
  
  .active{
    background: none;
    border: none;
    font-weight: 900;
    color: var(--primary-dark-color);
    border-radius: 0;
    border-bottom: 2px solid var(--primary-dark-color);
  }
  nav ul li a:hover{
    background: none;
    border: none;
    color: var(--primary-dark-color);
    transition: all 0.3s linear;
  }
	#home:after {
		border-bottom: 40vh solid var(--tertiary-light-color);
		border-left: 40vw solid transparent;
	}
	#home:before {
		border-bottom: 70vh solid var(--secondary-light-color);
		border-left: 70vw solid transparent;
	}	
	.home-img{
		left: 0;
	}
	#about:after {
		border-top: 40vh solid var(--tertiary-light-color);
		border-left: 40vw solid transparent;
	}
	#about:before {
		border-top: 70vh solid var(--secondary-light-color);
		border-left: 70vw solid transparent;
	}	
	.about-flex{
		flex-direction: column;
	}
	.about-text{
		padding: 5px;
	}
	.about-flex div{
		width: 100%;
	}
}
@media (max-width: 638px){
	.home-img{
		height: 60%;
		bottom: 0;
		/* top: 0; */
	}
	.home-text{
		top: 10%;
		transform: translateY(-10%); 
		/* bottom: 5%;
		transform: translateY(-5%); */
		right: 10px;
		left: auto;
		text-align: right;
	}
	.home-text p{
		width: auto;
	}
	.home-buttons a{
		padding: 5px;
		border-radius: 5px;
 }
 .home-buttons a:first-child{
	 color: white;
	 padding: 7px;
	 margin-right: 10px;
 }
 .home-buttons a:last-child{
	 color: black;
 }
	.greet{
		font-size:20px;
	}
	.typed-head{
		font-size:25px;
	}
}
@media (max-width: 580px) {
	#about{
		height:110vh;
	}
	.footer{
		flex-direction: column;
		align-items: flex-start;
		padding-left:20px;
		justify-content:space-evenly;
		gap: 20px;
	}
	.error{
		font-size: 10px;
	}
	form input, textarea{
		width: 150%;
	}
}
@media (max-width:480px) {
  label.logo img{
    height:80px;
  }
  nav ul{
    top: 80px;
  }
  #check:checked ~ul{
    left: -5%;
  }
	#about{
		height:90vh;
	}
	#about h1{
		font-size:25px;
	}
	.about-flex div{
		font-size: 16px;
	}
	
	.about-flex h4{
		font-size: 20px;
	}
	#services h1, #institute h1, #numerology h1{
		font-size:25px;
		padding: 5px;
	}
}
@media (max-width: 380px){
	#about{
		height:110vh;
	}
}
@keyframes appear{
  from{
    opacity: 0;
    transform: translateX(100%);
  } to{
    opacity: 1;
    transform: translateX(0);
  }
}

